#result_section {
    /*min-height: calc(100vh - 100px);*/
    background-color:#c2c6b8; ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: start; 
    /*grid-template-columns: repeat(auto-fit, 250px);*/
}

.card {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 12px;
    margin: 15px;
    padding: 13px;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 450px;
    font-family: sans-serif;
    transition-duration: 0.5s;
}
  
.card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: justify;
  text-justify: inter-word;
}
  
.card-header h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}
  
.tag {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.badge {
    display: inline-block;
    background-color: #28c48e;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
    width: fit-content;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.badge.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px); /* ou scale(0.95) pour un effet différent */
}

/* Lors du survol de la carte, on rend visible */
.card:hover .badge.hidden {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

  
.description {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
  
.meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #555;
}
  
.actions {
    display: flex;
    gap: 1rem;
}
  
.actions button {
    background: none;
    border: none;
    font-size: 0.95rem;
    cursor: pointer;
    color: #333;
}

.card:hover{
    background-color: #e7e7e7;
}
  
@media (max-width: 400px) {
    .card {
      padding: 1rem;
    }
  
    .card-header h2 {
      font-size: 1.1rem;
    }
  
    .meta {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .actions {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .actions button {
      text-align: left;
    }
}
  